* {
  box-sizing: border-box;
  padding: 10;
  margin: 0
}

body {
  background: #f9f0e7;
  font-family: Arial, Helvetica, sans-serif
}

a,
body {
  color: #160f09
}

address {
  font-style: normal
}

.title {
  font-size: 300%
}

.nav,
.title,
footer {
  background: #906237;
  color: #160f09
}

.nav {
  font-size: 100%;
  display: inline-block
}

.index {
  font-size: 200%;
  text-align: center
}

.namesc {
  display: inline-block;
  width: 500px;
  margin: 20px auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-style: solid;
  border-color: #160f09;
  border-width: 5px
}

footer {
  font-size: 150%
}

ul {
  list-style-type: none
}

.search {
  margin-top: 100;
  width: 75%
}

form {
  width: 400px;
  margin: auto auto 100px
}

input {
  padding: 4px 10px;
  border: 0;
  font-size: 16px
}

.submit {
  width: 70px;
  background-color: #1c87c9;
  color: #fff
}

.about-column {
  display: inline-block;
  vertical-align: top;
  align-items: center
}

.blog {
  margin: 0-5px
}

.blog:after {
  content: "";
  display: table;
  clear: both
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1
}

@media screen and (max-width:600px) {
  .column {
    width: 100%;
    display: inline-block;
    margin-bottom: 20px
  }

  img {
    height: auto;
    width: auto
  }
}

img {
  max-width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 300px;
  height: auto
}

.fcolumn,
.header {
  background: #906237;
  color: #160f09
}

.header {
  position: sticky;
  font-size: 200%;
  display: flex;
  justify-content: space-between;
  align-items: center
}

.fcolumn {
  font-size: 110%;
  list-style-type: none;
  column-count: 2
}

.featured-image {
  align-items: center
}

.gallery {
  display: inline-block
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, .5)
}
